In [1]:

import numpy as np
import pandas as pd

In [3]:
#Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
a1= np.random.rand(4,4)
a1

array([[0.44681112, 0.95130343, 0.08126342, 0.89242808],
       [0.67873552, 0.1873675 , 0.91445589, 0.61569838],
       [0.96947096, 0.55805335, 0.74391654, 0.73711716],
       [0.76916277, 0.77701348, 0.14430384, 0.02435061]])

In [5]:
df = pd.DataFrame(a1, columns=['a1','a2','a3','a4'])
df

         a1        a2        a3        a4
0  0.446811  0.951303  0.081263  0.892428
1  0.678736  0.187368  0.914456  0.615698
2  0.969471  0.558053  0.743917  0.737117
3  0.769163  0.777013  0.144304  0.024351

In [6]:
#Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [7]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3' , 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.446811        0.951303        0.081263        0.892428
1        0.678736        0.187368        0.914456        0.615698
2        0.969471        0.558053        0.743917        0.737117
3        0.769163        0.777013        0.144304        0.024351

In [8]:
#Task - 3 Find the descriptive statistics of the 'df' dataframe.

In [9]:
df.describe(include = 'all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.716045        0.618434        0.470985        0.567399
std          0.216737        0.329350        0.420223        0.379334
min          0.446811        0.187368        0.081263        0.024351
25%          0.620754        0.465382        0.128544        0.467861
50%          0.723949        0.667533        0.444110        0.676408
75%          0.819240        0.820586        0.786551        0.775945
max          0.969471        0.951303        0.914456        0.892428

In [10]:
#Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [11]:
df.isnull().all()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [13]:
df['Random value 1'].dtype
df['Random value 2'].dtype
df['Random value 3'].dtype
df['Random value 4'].dtype

dtype('float64')

In [14]:
#Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [15]:
df.loc[0:, 'Random value 2' : 'Random value 3' ]

   Random value 2  Random value 3
0        0.951303        0.081263
1        0.187368        0.914456
2        0.558053        0.743917
3        0.777013        0.144304

In [16]:
df.iloc[0:,1:3]

   Random value 2  Random value 3
0        0.951303        0.081263
1        0.187368        0.914456
2        0.558053        0.743917
3        0.777013        0.144304